.home-title {
    text-align: left;
}
.product-detail .left {
    font-size: 15px ;
    font-weight: bold;
    margin-right: 15px;
}
.product-detail img {
    width: 200px;
    height: 200px;
    border:1px solid #002140;
    margin-right: 10px;
}
.product-detail .ant-card-body {
    padding-top: 10px !important;
}
.add-update-pictureswall {
    display: flex;
}

.add-update-detail {
    display: flex;
    width: 1000px !important;
}